<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mimari site</title>
	<link rel="stylesheet" href="~/Mimari/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
		  rel="stylesheet">
</head>

<body>
	<header>
		@foreach (var item in ViewBag.user)
		{
			<p class="header1">@item.NameSurname | @item.Position </p>
		}
		<nav class="link">
			<ul>
				<li><a href="/Home/Index/">Ana sayfa</a></li>
				<li><a href="#about">Hakkımda</a></li>
				<li><a href="#about">İletişim</a></li>
				<li><a href="/Login/SignIn/">Giriş yap</a></li>
				<li><a href="/Login/SignUp/">Kayıt ol</a></li>
			</ul>
		</nav>
	</header>
	@RenderBody()
	<section class="why" style="  width: 50%; margin: 100px 200px;" id="about">
		@foreach (var item in ViewBag.user)
		{
			<p class="banner">
				@item.About
			</p>
			<br>

			<br>
			<p class="message">Haydi beraber çalışalım</p>

			<p class="info">info: @item.Gmail</p>
			<p class="number">tel: @item.PhoneNumber</p>
		}
	</section>
</body>

</html>
